@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: auto; /* Allow height to adjust based on content */
    }

    #profile {
      height: auto; /* Make it auto-adjust for content */
      margin-bottom: 0;
    }

    .contact-info-upper-container {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center align the items */
      justify-content: center;
      gap: 1.5rem; /* Add spacing between the email and LinkedIn */
    }

    .contact-info-container {
      display: flex;
      align-items: center;
      gap: 0.5rem; /* Space between the icon and text */
    }

    .contact-info-container img {
      width: 24px; /* Adjust size of the icon */
      height: 24px;
    }

    .contact-info-container p {
      font-size: 1rem;
      margin: 0;
      text-align: center; /* Center align the text */
    }

    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    .section_pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }

    .section_text_p2 {
      font-size: 1.25rem;
    }

    .title {
      font-size: 2rem;
    }

    .text-container {
      text-align: justify;
    }
}
